* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica,
    Hiragino Kaku Gothic Pro, Meiryo, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  text-align: center;
}

:root {
  --red: rgb(230, 0, 35);
  --blue: rgb(24, 119, 242);
  --lightgray: rgb(239, 239, 239);
  --gray: rgb(118, 118, 118);
  --darkgray: rgb(51, 51, 51);
}

a {
  text-decoration: none;
}
